<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 profile-img">
        <img class="img-responsive" src="img/coursera.jpeg" alt="profile-pic" />
      </div>
      <div class="col-sm-12 col-lg-8">
        <p class="about_text text-justify">I am an <strong>Assistant Professor</strong> at <a href="http://sistemas.uniandes.edu.co"><strong>Systems and Computing Engineering Department</strong></a> of <a href="http://uniandes.edu.co"><strong>Universidad de los Andes, Colombia</strong></a>. I am part of <a href="http://thesoftwaredesignlab.github.io"><strong>The Software Design Lab</strong></a> where I currently lead 3 research projects and advice 3 undergraduate students.</p>
        <p class="about_text text-justify">I will received my Ph.D. in Engineering from Universidad de los Andes, Colombia in October 2023.</p>
        <p class="about_text text-justify">My research interest include <strong>Software Engineering</strong>, evolution and maintenance, repository mining, <strong>Software Testing</strong>, automated/automatic testing of Android Apps, automated testing of Web Apps, <strong>Visual Analytics</strong>, software understandability, <strong>Mobile Health</strong></p>
      </div>
    </div>
  </div>
</section>

