<section id="awards">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Awards</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h3>Research</h2>
          <p class="award_text text-justify">&#9873; <span style="color: #dd0016;">Swiss Government Excellence
              Scholarships for Foreign Scholars</span> 2020-2021 - Research Fellowship - State Secretariat for
            Education, Research and Innovation of the Swiss Confederation (SERI) and COLFUTURO</p>
          <p class="award_text text-justify">&#9873; <span style="color: #4285F4;">G</span><span
              style="color: #DB4437;">o</span><span style="color: #F4B400;">o</span><span
              style="color: #4285F4;">g</span><span style="color: #0F9D58;">l</span><span
              style="color: #DB4437;">e</span> Latin American Research Award 2020 - Enabling Automated Software
            Engineering Tasks for Closed-Source Mobile Apps (Extension)</p>
          <p class="award_text text-justify">&#9873; <span style="color: #4285F4;">G</span><span
              style="color: #DB4437;">o</span><span style="color: #F4B400;">o</span><span
              style="color: #4285F4;">g</span><span style="color: #0F9D58;">l</span><span
              style="color: #DB4437;">e</span> Latin American Research Award 2019 - Enabling Automated Software
            Engineering Tasks for Closed-Source Mobile Apps (Extension)</p>
            <p class="award_text text-justify">&#9873; <span style="color: #15B0E0;">ACM</span> SIGAI Travel Support Scholarship - The 34th IEEE/ACM International Conference on Automated Software Engineering - ASE'19</p>
            <p class="award_text text-justify">&#9873; <span style="color: #4285F4;">G</span><span style="color: #DB4437;">o</span><span
              style="color: #F4B400;">o</span><span style="color: #4285F4;">g</span><span
              style="color: #0F9D58;">l</span><span style="color: #DB4437;">e</span> Latin American Research Award 2018
            - Enabling Automated Software Engineering Tasks for Closed-Source Mobile Apps</p>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <h3>Hackaton</h3>
        <p class="award_text text-justify">&#9873; <span style="color: #36B788;">Testathon</span> - First Place Team Competition - Chapter 30 - Bogotá, Colombia</p>
        <p class="award_text text-justify">&#9873; 1st place winner - First Hackathon against human trafficking organized by UNODC, IBM and Pasos Libres Foundation </p>
      </div>
    </div>
  </div>
</section>