<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 profile-img text-center">
        <img class="img-fluid" src="img/coursera.jpeg" alt="profile-pic" />
      </div>
      <div class="col-sm-12 col-lg-12">
        <div class="intro-text">
          <span class="name">Hey! I am {{site.name}}</span>
          <span class="lastname">{{ site.lastname }}</span>
          <hr class="star-light" />
          <span class="skills">{{ site.skills }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
