<section id="service">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Service</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
  <h3>Organizing Committee</h3>
  <hr>
    <p><i class="fa-solid fa-paper-plane"></i> The 32nd IEEE/ACM International Conference on Program Comprehension - ICPC'24, April 14-20, 2024, Lisbon, Portugal</p>
    <p><i class="fa-solid fa-paper-plane"></i> The 39th International Conference on Software Maintenance and Evolution - ICSME'23, October 1-6, 2023, Bogotá, Colombia.</p>
    <p><i class="fa-solid fa-paper-plane"></i> The 1st Languages and Tools for Next Generation Testing Workshop - LANGETI'20, Nov 9, 2020, Sacramento, CA, USA.</p>

  <h3>Program Committee</h3>
  <hr>
    <p><i class="fa-solid fa-book-open-reader"></i> The 32nd IEEE/ACM International Conference on Program Comprehension - ICPC'2024, April 14-20, 2024, Lisbon, Portugal - Research Track</p>
    <p><i class="fa-solid fa-book-open-reader"></i> The 30th ACM Joint European Software Engineering Conference and Symposium on the Foundations of Software Engineering - ESEC/FSE'21 - Artifacts Track</p>
    <p><i class="fa-solid fa-book-open-reader"></i> The 30th IEEE/ACM International Conference on Program Comprehension - ICPC'2022, May 16-17, 2022, Pittsburgh, PA, USA - Tool Demonstrations</p>
    <p><i class="fa-solid fa-book-open-reader"></i> The 9th IEEE/ACM International Conference on Mobile Software Engineering and Systems - MOBILESoft'22, May 22-23, 2022, Pittsburgh, PA, USA - Tool Demo and Mobile Apps Track</p>
    <p><i class="fa-solid fa-book-open-reader"></i> The 29th ACM Joint European Software Engineering Conference and Symposium on the Foundations of Software Engineering - ESEC/FSE'21 - Artifacts Track</p>
    <p><i class="fa-solid fa-book-open-reader"></i> The 18th International Conference on Mining Software Repositories - MSR'21, May 23-24, 2021, Madrid, Spain. (Virtually) - Shadow PC</p>

  <h3>Student Volunteer</h3>
  <hr>
    <p><i class="fa-solid fa-people-carry-box"></i> The 13th IEEE International Conference on Software Testing, Verification and Validation - ICST'20, Oct 24-28, 2020, Porto, Portugal.</p>
    <p><i class="fa-solid fa-people-carry-box"></i> The 36th IEEE International Conference on Software Maintenance and Evolution - ICSME'20, Sep 27 - Oct 3, 2020, Adelaide, Australia.</p>
    <p><i class="fa-solid fa-people-carry-box"></i> The 42st ACM/IEEE International Conference on Software Engineering - ICSE'20, July 6-11, 2020, Seoul, South Korea.</p>
    <p><i class="fa-solid fa-people-carry-box"></i> The 34th IEEE/ACM International Conference on Automated Software Engineering - ASE'19, Nov 11-15, 2019, San Diego, CA, USA.</p>
    <p><i class="fa-solid fa-people-carry-box"></i> The 41st ACM/IEEE International Conference on Software Engineering - ICSE'19, May 25-31, 2019, Montreal, Canada.</p>
    <p><i class="fa-solid fa-people-carry-box"></i> The 34th IEEE International Conference on Software Maintenance and Evolution - ICSME'18, Sep 23-29, 2018, Madrid, Spain.</p>
    
        </div>
      </div>
    </div>
  </section>