<div id="sidebar">
  <header>
    <img src="{{ site.baseurl}}/assets/coursera.jpeg" alt="asdas" srcset="{{ site.baseurl}}/assets/coursera.jpeg">
    <h1 class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </h1>
    <p class="lead">{{ site.description }}</p>
    <p class="lead" style="font-size: 0.7rem"><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>
  </header>
  {% include sidebar-nav-links.html %}

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>