<section id="teaching">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Teaching</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
        <h3>Masters on Software Engineering - Virtual Program in Coursera</h3>
        <p>&#9998; <strong>MISW4103 - Automated Software Testing</strong> - Spring 2023 - Now</p>
        <p>&#9998; <strong>MISW4203 - Software Engineering for Mobile apps</strong> - Spring 2023 - Now</p><br>
        <h3>Systems and Computing Engineering - Undergraduate Program</h3>
        <p>&#9998; <strong>ISIS3510 - Mobile App Development</strong> - Spring 2023 - Now</p>
        <p>&#9998; <strong>ISIS3710 - Web Development</strong> - Spring 2023 - Now</p><br>
        <h3>Past Experience</h3>
        <p>&#9998; TA - Automated Software Testing - Masters on Software Engineering - Fall 2017 - Fall 2022</p>
        <p>&#9998; TA - Software Engineering for Mobile apps - Masters on Software Engineering - Fall 2021 - Fall 2022</p>
        <p>&#9998; TA - Mobile App Development - Systems and Computing Engineering Undergraduate Program - Fall 2020 - Spring 2021</p>
        <p>&#9998; Lab Instructor - Design and Analysis of Algorithms - Systems and Computing Engineering Undergraduate Program - Fall 2019</p>
      
        <h3>Talks</h3>
          <hr>
        <p><i class="fa-solid fa-person-chalkboard"></i> <em><strong>Enabling Automated Software Engineering Tasks for Closed-Source Android Apps</strong></em> - 70th Anniversary of Research and Creation at Universidad de los Andes, Colombia</p>
        </div>
      </div>
    </div>
  </section>