<section id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Team</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h3>Undergraduate</h3>
          <p><i class="fa-solid fa-person-rays"></i> <strong>Felipe Duque-Martinez.</strong> <em>Improving Uniandes' Student's Data Analysis using Visual Analytics.</em></p>
          <p><i class="fa-solid fa-person-rays"></i> <strong>Esteban Martinez-Hernandez.</strong> <em>Design and Development of Orchestration System for the execution of Master classes assignments.</em></p>
          <p><i class="fa-solid fa-person-rays"></i> <strong>Juan Bogotá-Alfonso.</strong> <em>Design and Development of Housing System for pets: Startup</em></p>

        <h3>Alumni</h3>
        <h5>Undergraduate - Coadvised</h5>
        <p><i class="fa-solid fa-graduation-cap"></i> <strong>Daniel Valbuena-Bautista.</strong> Fall 2022. <em>Automatic GUI testing for Android using reinforcement learning</em></p>
        <p><i class="fa-solid fa-graduation-cap"></i> <strong>Camila Pantoja-Gómez.</strong> Fall 2022. <em>Automatic Multi-platform Interaction Testing for Android Using Reinforcement Learning</em></p>
        <p><i class="fa-solid fa-graduation-cap"></i> <strong>Edgar Díaz-Suárez.</strong> Fall 2022. <em>Automatic Multi-platform Interaction Testing for Android Using Reinforcement Learning</em></p>
        <p><i class="fa-solid fa-graduation-cap"></i> <strong>Camilo Rozo-Benitez.</strong> Fall 2022. <em>Towards automated repairment of internationalization issues for android apps</em></p>
        <p><i class="fa-solid fa-graduation-cap"></i> <strong>Mario Andrade-Vargas.</strong> Spring 2022. <em>Automatic GUI testing for Android using reinforcement learning</em></p>
        <p><i class="fa-solid fa-graduation-cap"></i> <strong>Andrés Donoso-Díaz.</strong> Fall 2021. <em>Improving Automated i18n Testing of Android Apps</em></p>
        <p><i class="fa-solid fa-graduation-cap"></i> <strong>Michael Osorio-Riaño.</strong> Spring 2020. <em>Comparison and analysis between automatic exploration tools for Android applications</em></p>
        <p><i class="fa-solid fa-graduation-cap"></i> <strong>Juan Domínguez-Osorio.</strong> Fall 2019. <em>Automated GUI ripping for web applications</em></p>
        <p><i class="fa-solid fa-graduation-cap"></i> <strong>Andrés López-Fabara.</strong> Fall 2019. <em>Automated GUI ripping for web applications</em></p>
        <p><i class="fa-solid fa-graduation-cap"></i> <strong>William Ravelo-Méndez.</strong> Spring 2019. <em>Automated cross-app testing</em></p>
        </div>
      </div>
    </div>
  </section>