---
layout: default
---

<div class="content" style="text-align: justify">

  I am a second year Ph.D. student at the <a href="https://ingenieria.uniandes.edu.co/Paginas/Noticias.aspx?nid=166">School of Engineering</a> at <a href="http://uniandes.edu.co">Universidad de los Andes</a> advised by <a href="https://profesores.virtual.uniandes.edu.co/mlinaresv/en/inicio-en">Prof. Mario Linares-Vásquez</a>. I am part of <a href="http://thesoftwaredesignlab.github.io">The Software Design Lab (TSDL)</a> and I am currently a visiting PhD. Student at <a href="http://seart.si.usi.ch">SEART</a> research group under the advise of <a href="https://www.inf.usi.ch/faculty/bavota/">Prof. Gabriele Bavota</a>. I work on automation of software engineering tasks, quality attributes in mobile apps and software testing. 
  <br><br>
  For more detailed info and non-academical info, please visit the <a href="{{site.baseurl}}/about.html">About Me</a> section.

  <h1>Awards</h1>
  <h2>Research</h2>
  <ul>
    <li><span style="color: #4285F4;">G</span><span style="color: #DB4437;">o</span><span style="color: #F4B400;">o</span><span style="color: #4285F4;">g</span><span style="color: #0F9D58;">l</span><span style="color: #DB4437;">e</span> Latin American Research Award 2020 - Enabling Automated Software Engineering Tasks for Closed-Source Mobile Apps (Extension)</li>
    <li><span style="color: #dd0016;">Swiss Government Excellence Scholarships for Foreign Scholars</span> 2020-2021 - Research Fellowship - State Secretariat for Education, Research and Innovation of the Swiss Confederation (SERI) and COLFUTURO</li>
    <li><span style="color: #4285F4;">G</span><span style="color: #DB4437;">o</span><span style="color: #F4B400;">o</span><span style="color: #4285F4;">g</span><span style="color: #0F9D58;">l</span><span style="color: #DB4437;">e</span> Latin American Research Award 2019 - Enabling Automated Software Engineering Tasks for Closed-Source Mobile Apps (Extension)</li>
    <li><span style="color: #15B0E0;">ACM</span> SIGAI Travel Support Scholarship - The 34th IEEE/ACM International Conference on Automated Software Engineering - ASE'19</li>
    <li><span style="color: #4285F4;">G</span><span style="color: #DB4437;">o</span><span style="color: #F4B400;">o</span><span style="color: #4285F4;">g</span><span style="color: #0F9D58;">l</span><span style="color: #DB4437;">e</span> Latin American Research Award 2018 - Enabling Automated Software Engineering Tasks for Closed-Source Mobile Apps</li>
  </ul>
  <h2>Hackathon</h2>
  <ul>
    <li><span style="color: #36B788;">Testathon</span> - First Place Team Competition - Chapter 30 - Bogotá, Colombia</li>
    <li>1st place winner - First Hackathon against human trafficking organized by UNODC, IBM and Pasos Libres Foundation  </li>
  </ul>

  <h1>Selected Publications</h1>
  <h2>Journals</h2>
  {% bibliography -f journals -q @*[selected=true]%}
  <h2>Conferences</h2>
  {% bibliography -f conferences -q @*[selected=true]%}
</div>